.footer {
  // position: absolute;
  // bottom: 0;
  height: 70px;
  width: 100vw;
  background-color: rgba(86, 85, 85, 0.5);
  color: white;
  // padding-left: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
