.mainImageContainer {
  border: red solid 1px;
  // aspect-ratio: 100 / 75;
  width: 75vw;
  aspect-ratio: 100 / 75;
  // width: 90vw;
  margin-right: auto;
  margin-left: auto;
  // margin-bottom: 70px;

  display: flex;
  justify-content: center;
  align-items: center;
  .image {
    object-fit: contain;
    transition: ease 0.6s;
  }
}
