.imageContainer {
  // aspect-ratio: 100 / 75;
  width: 90vw;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 70px;

  display: flex;
  justify-content: center;
  align-items: center;
  .image {
    object-fit: contain;
    filter: grayscale(90%);
    transition: ease 0.6s;

    &.colorful {
      filter: grayscale(0);
    }
  }
}
