$length: 40px;
.parent {
  height: 50px;
}
.button {
  height: $length;
  width: $length;
  margin-top: calc((50px - $length) / 2);
  margin-bottom: calc((50px - $length) / 2);
  background-color: rgb(0, 0, 0);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 1em;

  &:hover {
    .button__inner__line {
      background-color: rgb(255, 255, 100);
    }
  }
}
.button__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  height: 50%;
}
.button__inner__line {
  transition: ease 0.4s;
  background: rgb(255, 255, 255);
  width: calc($length * 0.6);
  height: 2px;
}

// リスト関係
.hamburger__nav {
  position: fixed;
  right: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  opacity: 1;
  color: black;
  z-index: 1000;
  transform: translateX(100%);
  transition: ease 0.6s;
  overflow: auto;
  height: 100vh;
  width: 50vw;
}

.hamburger__nav.hamburger__opened {
  transform: translateX(0);
  opacity: 1;
}

.opened__li {
  font-size: 2em;
  letter-spacing: 0.2em;
  margin: 0 auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  transition: ease 0.6s;
  &:hover {
    background-color: rgb(255, 255, 100);
    padding-left: 1em;
  }
  .opened__li__List {
    display: block;
    width: 100%;
    height: 100%;
    padding: 1em 20px;
  }
}

// 閉じるボタン
.opened__li__button {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  .closeButton {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover {
      .closeButton__inner__line {
        background: rgb(155, 8, 8);
      }
    }
    .closeButton__inner__line {
      transition: ease 0.4s;
      background: rgb(130, 130, 130);
      width: 30px;
      height: 2px;
    }
    .closeButton__inner__line:nth-child(1) {
      position: absolute;
      top: 25px;
      transform: rotate(45deg);
    }
    .closeButton__inner__line:nth-child(2) {
      position: absolute;
      top: 25px;
      transform: rotate(-45deg);
    }
  }
}
.headerNav__pc {
  display: none;
}

// PC対応
@media screen and (min-width: 768px) {
  .hamburger__nav {
    width: 50em;
  }
  .button {
    display: none;
  }
  .headerNav__pc {
    display: block;
    min-width: 50vw;
    max-width: 600px;
    height: 100%;
    text-align: center;
  }
  .headerNav__ul__pc {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    transition: ease 0.6s;
  }
  .headerNav__li__pc {
    transition: ease 0.6s;

    color: white;
    font-weight: bold;
    display: block;
    padding: 13px;

    margin-right: 2em;
    font-size: 3em;
    text-transform: uppercase;
    cursor: pointer;
    &:hover {
      color: rgb(255, 255, 100);
    }
  }
}
